# MongoDB Connection URL (template)
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/?retryWrites=true&w=majority

# Database Name
DATABASE_NAME=fluentchat

# Application Config
APP_NAME=FluentChat
DEBUG=true
